<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Поиск слова</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="wrapper">
    <h1 class="head lobster">Переводчик 1.0</h1>
    <form action="/search" method="post">
      <div>
        <label class="text-field__label" for="inp">Введите слово</label>
        <input class="text-field__input" type="text" id="inp" name="word" >
      </div>
      <button class="translate" type="submit"><img src="/img/search.png" alt=""></button>
    </form>
  </div>

</body>
</html>